{% extends 'base/index.html' %}
{% load staticfiles %}


{% block extracss %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/estiloscategorias.css' %}">
{% endblock %}

{% block title %}
<title>PROYECTO TIENDA - CATEGORIAS</title>
{% endblock %}

{% block header %}
<center>	
	<h1>PROYECTO TIENDA - CATEGORIAS</h1>
</center>
{% endblock %}

{% block content %}
	<br>
	<h5>CATEGORIAS :</h5>
	<ul>
	{% for Categoria in Categoria %}
		<li>{{Categoria.catNombre}}</li>
	{% empty %}
	<p>No hay categorias</p>
	{% endfor %}
	</ul>

{% endblock %}

{% block footer %}
PIE DE PAGINA - CATEGORIAS
{% endblock %}