{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script> -->

	<!-- JQUERY -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>       
	<meta name = "viewport" content = "width = device-width, initial-scale = 1">      
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- MATERIALIZE -->
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

    <!-- JS Y CSS -->
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>    
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">      	   
	
	<title>TIENDA - CONSOLAS</title>
</head>
<body>
	<head>

		<div class="row">
			<div class="col s12" style="background-color: black;">
				<img style="margin:none; height: 150px;" src="{% static 'images/head1.jpg' %}"/>
			</div>
		</div>	
		<nav class="nav-extended">
    		<div class="nav-wrapper blue">
      			<a href="/index" class="brand-logo"><i class="large material-icons left">store</i>TIENDA - CONSOLAS</a>
      			<ul id="nav-mobile" class="right hide-on-med-and-down">        		      
			        <li><a href="consolas"><i class="large material-icons left">videogame_asset</i>Consolas</a></li>
			        <li><a href="juegos"><i class="large material-icons left">gamepad</i>Video juegos</a></li>
			        <li><a href="accesorios"><i class="medium material-icons left">local_activity</i>Accesorios</a></li>
			        <li><a href="ventas"><i class="material-icons left">shopping_cart</i>Carrito</a></li>			        
      			</ul>
    		</div>
  		</nav>
	</head>

	<main>

	{% block content %}		

		<table>
			<thead>
				
			</thead>
			<tbody>
			{% if consolas_list %}
			{% for Producto in consolas_list %}
			<tr>
				<td><i class="material-icons left">videogame_asset</i></td>
				<td>{{ Producto.prodNombre }}</td>
				<td>{{ Producto.prodDescripcion }}</td>			
				<td>{{ Producto.prodPrecio }}</td>
				<td>{{ Producto.prodDisponible }}</td>
				<td>COMPRAR</td>
			</tr>
			{% endfor %}

			{% else %}
			<h1>NO SE ENCONTRARON REGISTROS</h1>
			{% endif %}
			</tbody>
		</table>

	{% endblock %}

	</main>

	 <footer class="page-footer white">          
          <div class="footer-copyright">
            <div class="container">
            	<a class="black-text text-lighten-4 left" href="#!">©Roberto Abad Ramírez Nieves exp.24662      TIENDA - CONSOLAS</a>
            	<a class="black-text text-lighten-4 right" href="#!">Taller DJANGO</a>
            </div>
          </div>
      </footer>
	
        
</body>
</html>
